<div class="leftBox">
    <div class="todayBox">
        <div class="boxTitle"><div data-tmpl-lang="innerText">Daily</div></div>
        <div data-template="daily/workout" data-tmpl-param-insert="false"></div>
    </div>
</div>
<div class="rightBox">
    <div class="weekBox">
        <div class="boxTitle"><div data-tmpl-lang="innerText">This Week</div></div>
    </div>
    <div class="timelineBox">
        <div class="boxTitle"><div data-tmpl-lang="innerText">History</div></div>
    </div>
</div>
<div class="clear"></div>