body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
div {
    margin: 0;
    padding: 0;
}
input {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
.visible {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}
div.container {
    width: 1024px;
    align-content: center;
    margin: auto;
}
div.title {
    width: fit-content;
    align-content: center;
    margin: 5px auto 10px auto;
    font-size: 32px;
    color: gray;
    text-shadow: 2px 2px lightblue;
}